

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Emporium</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcDnSa07cU3sRyTrDwnLQak8RuvigUQ46ntOSQJ0Y3IguZjwbUrwfS8SEE6wRHeiTPuOs&usqp=CAU);
            color: #333;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0;
            padding: 0;
        }
        
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            color: black;
        }
        
        h1 {
            font-size: 32px;
            margin-bottom: 20px;
            color: #007bff;
        }
        
        p {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
        }
        
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        
        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to our Batighar Online book emporium</h1>
        <p>Where literary enthusiasts of all kinds converge to explore an extensive collection of captivating reads. Dive into a world of boundless imagination and knowledge with our meticulously curated selection spanning diverse genres, from gripping thrillers to heartwarming romance, profound non-fiction to enchanting fantasy.</p>
        <p>Whether you're an avid reader seeking the latest bestsellers or a curious mind in search of hidden literary gems, our platform offers an immersive experience tailored to your literary preferences. Discover new releases, rediscover timeless classics, and engage in vibrant discussions within our vibrant community of book lovers.</p>
        <p>With user-friendly browsing tools, insightful reviews, and convenient purchasing options, embarking on your next literary journey has never been more exhilarating. Join us in celebrating the magic of storytelling and let our virtual shelves transport you to worlds beyond your imagination.</p>
        <a href="/shop" class="btn">Explore Books</a>
    </div>
</body>
</html>
