

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Copies</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Add book details</h1>


    <form action="" method="post">
     <input type = "text" name = "isbn" placeholder="Enter ISBN"><br><br>
    <input type = "name" name = "title" placeholder="Enter TITLE"><br><br>
    <input type="text" name="Publicationyear" placeholder="Enter Publication Year"><br><br>
    <input type="text" name="Language" placeholder="Enter Language"><br><br>
    <input type="text" name="dimension" placeholder="Enter Dimension"><br><br>
    <input type="number" name="weight" placeholder="Enter Weight"><br><br>
    <input type="number" name="stocks" placeholder="Enter stocks"><br><br>
    <input type="number" name="price" placeholder="Enter price"><br><br>
    <input type = "number" name = "edition" placeholder = "Enter edition"><br><br>


    <div>
        <label for="category"><strong>Category:</strong></label>
        <select id="category" name="category[]" multiple>
            <% categories.forEach(category => { %>
                <option value="<%= category.CATEGORY_ID %>">Category.NAME</option>
            <% }); %>
        </select>
    </div>


        <div>
            <label for="authors"><strong>Authors:</strong></label>
            <select id="authors" name="authors[]" multiple>
                <% authors.forEach(author => { %>
                    <option value="<%= author.AUTHOR_ID %>">author.NAME</option>
                <% }); %>
            </select>
        </div>

        <button type="submit">Add Copies</button>
    </form>

    <a href="/AdminSection">Back to Section</a>

    <script>
        // Add any additional client-side scripting if needed
    </script>
</body>
</html>
