<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Section</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Admin Section</h1>
    <p>Hi Admin! This section is for managing books.</p>

    <form id="adminForm">
        <label>Select Action:</label>
        <div>
            <input type="radio" id="addBook" name="action" value="addBook" required>
            <label for="addBook">Add Book</label>
        </div>

        <div>
            <input type="radio" id="addMoreCopies" name="action" value="addMoreCopies" required>
            <label for="addMoreCopies">Add More Copies</label>
        </div>


        <div>
            <input type="radio" id="BestSellingBooks" name="action" value="BestSellingBooks" required>
            <label for="BestSellingBooks">See the best selling book of the month</label>
        </div>
        
        <div>
            <input type="radio" id="Weeksell" name="action" value="Weeksell" required>
            <label for="Weeksell">Total Sell of the Week</label>
        </div>

        <div>
            <input type="radio" id="Monthsell" name="action" value="Monthsell" required>
            <label for="Monthsell">Total sell of the Month</label>
        </div>


      
    </form>

    <script>
   
        document.getElementById('adminForm').addEventListener('change', function(event) {
            const selectedAction = document.querySelector('input[name="action"]:checked').value;

         
            if (selectedAction === 'addBook') {
     
                window.location.href = '/addBook';
            } else if (selectedAction === 'addMoreCopies') {
              
                window.location.href = '/addMoreCopies';
            } 
             else if (selectedAction === 'BestSellingBooks') {
             
                window.location.href = '/BestSellingBooks';
            } else if (selectedAction === 'Weeksell') {
                
                window.location.href = '/Weeksell';
            } else if (selectedAction === 'Monthsell') {
            
                window.location.href = '/Monthsell';
            }

            
        });
    </script>

    <a href="/bookList">View Book List</a>
</body>
</html>
