<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <h1>Customer Signup Successful</h1>
    <p>Do you want to go to the login page or homepage?</p>
    <form action="/redirectingto" method="post">
        <button type="submit" name="redirectTo" value="/Batigharlogin">Login Page</button>
        <button type="submit" name="redirectTo" value="/homepage">Homepage</button>
    </form>
</body>
</html>
