

<form action="" method="post">
    <input type="name" name="name" placeholder="Enter publication"><br><br>
    <input type = "email"name = "email"placeholder="Enter email"><br><br>
    

    <input type="submit" value="Submit">
</form>