<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            font-size: 14px;
            background-color: #f8f8fa; /* Background color */
            background-image: url(https://t3.ftcdn.net/jpg/05/74/70/60/360_F_574706059_s4gBUvmVNHeD0XYkVra822kli7NbWsgt.jpg); /* Background image */
            background-size: cover; /* Cover the entire background */
        }

        .container {
            max-width: 600px;
            
        }

        .colorful-text {
            color: #603003;
            background-color:whitesmoke;
            justify-content: center;
        }

        /* Adjust the height of the card */
        .card {
            height: 150px;
             background-color: wheat; /* Set the desired height */
        }

        .center-button {
            text-align: center;
        }
    </style>
</head>
<body class="bg-light">
    <div class="container mt-5">
       

        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 publishers</h5>
                    <p class="card-text">here are your top 10 publishers By book count</p>
                    <a href="/topPublishers" class="btn btn-secondary">View Report</a>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 Publishers</h5>
                    <p class="card-text">Here are your top 10 publishers By total earning</p>
                    <a href="/topPublishers_sales" class="btn btn-secondary">View Report</a>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 Authors </h5>
                    <p class="card-text">here are your top 10 authors By book count</p>
                    <a href="/topAuthors" class="btn btn-secondary">View Report</a>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 Authors</h5>
                    <p class="card-text">Here are your top 10 authors By total earning</p>
                    <a href="/topAuthors_sales" class="btn btn-secondary">View Report</a>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top 10 Customers</h5>
                    <p class="card-text">Here are your top 10 customers</p>
                    <a href="/topCustomers" class="btn btn-secondary">View Report</a>
                </div>
            </div>
        </div>


        <div class="mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Monthly Gross</h5>
                    <p class="card-text">Here are your selling details of different months</p>
                    <a href="/monthly_gross" class="btn btn-secondary">View Report</a>
                </div>
            </div>
        </div>



        

      

        <!-- Add more divs for additional reports -->

       
        <div class="center-button">
            <a href="/AdminSection" class="btn btn-secondary colorful-text">Back to Section</a>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
