
<h1>Welcome to Batighar</h1>
<h3>Sign Up form</h3>

<form action="" method="post">
    <input type="name" name="fname" placeholder="Enter first name"><br><br>
    <input type = "name" name = "lname" placeholder="Enter last_name"><br><br>
    <input type="email" name="Email" placeholder="Enter Email"><br><br>
    <input type="text" name="MobileNo" placeholder="Enter mobile no"><br><br>
    <input type="date" name="BirthDate" placeholder="Enter your birthdate"><br><br>
    <input type="password" name="password" placeholder="Enter password"><br><br>
    <input type="text" name="City" placeholder="Enter city"><br><br>
    <input type="text" name="PostalCode" placeholder="Enter postal code"><br><br>
    <input type="text" name="RoadNo" placeholder="Enter road no"><br><br>

    <input type="submit" value="Submit">
</form>
